<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.security.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.security.entity.RoleEntity">
    <result column="ID" jdbcType="NUMERIC" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
  </resultMap>
  
  <insert id="insert" parameterType="com.security.entity.RoleEntity">
  	INSERT INTO SYS_ROLE(NAME) VALUES(#{name})
  </insert>
  
  <update id="update" parameterType="com.security.entity.RoleEntity">
  	UPDATE SYS_ROLE SET NAME=#{name} WHERE ID=#{id}
  </update>
  
  <delete id="del" parameterType="java.lang.Integer">
  	DELETE FROM SYS_ROLE WHERE ID=#{id}
  </delete>
  
  <select id="findOne" resultMap="BaseResultMap">
  	SELECT * FROM SYS_ROLE WHERE ID=#{id}
  </select>
  
  <select id="findAll" resultMap="BaseResultMap">
  	SELECT * FROM SYS_ROLE ORDER BY NAME
  </select>
</mapper>