<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.security.mapper.RoleUserMapper">
  <resultMap id="BaseResultMap" type="com.security.entity.RoleUserEntity">
    <result column="SYS_ROLE_ID" jdbcType="NUMERIC" property="roleId" />
    <result column="SYS_USER_ID" jdbcType="NUMERIC" property="userId" />
  </resultMap>
  
  <resultMap id="RoleMap" type="com.security.entity.RoleEntity">
    <result column="ID" jdbcType="NUMERIC" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SYS_USER_ID" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  
  <insert id="insert" parameterType="com.security.entity.RoleUserEntity">
  	INSERT INTO SYS_ROLE_USER(SYS_ROLE_ID,SYS_USER_ID) VALUES(#{roleId},#{userId})
  </insert>
  
  <insert id="insertByBatch" parameterType="java.util.List">
 	INSERT INTO SYS_ROLE_USER(SYS_ROLE_ID,SYS_USER_ID)
    <foreach collection="list" item="item" index="index" separator="union all">
      	select #{item.roleId}, #{item.userId} from dual
    </foreach>
  </insert>
  
  <delete id="del" parameterType="java.lang.Integer">
  	DELETE FROM SYS_ROLE_USER WHERE SYS_USER_ID=#{userId} and SYS_ROLE_ID=#{roleId}
  </delete>
  
  <delete id="delUser" parameterType="java.lang.Integer">
  	DELETE FROM SYS_ROLE_USER WHERE SYS_USER_ID=#{userId}
  </delete>
  
  <select id="findAll" resultMap="RoleMap">
  	SELECT R.*,RU.SYS_USER_ID FROM SYS_ROLE_USER RU LEFT JOIN SYS_ROLE R ON R.ID = RU.SYS_ROLE_ID ORDER BY RU.SYS_ROLE_ID,RU.SYS_USER_ID
  </select>
  
  <select id="findUser" resultMap="RoleMap" parameterType="java.lang.Integer">
  	SELECT R.*,RU.SYS_USER_ID FROM SYS_ROLE R LEFT JOIN SYS_ROLE_USER RU ON R.ID = RU.SYS_ROLE_ID AND RU.SYS_USER_ID = #{userId} ORDER BY R.ID
  </select>
</mapper>